@font-face {
    font-family: "Parisienne";
    src: url('media/fonts/Parisienne-Regular.ttf');
}

@font-face {
    font-family: "Cinzel";
    src: url('media/fonts/Cinzel-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Spectral-Italic";
    src: url('media/fonts/Spectral-ExtraLightItalic.ttf');
}

@font-face {
    font-family: "Spectral";
    src: url('media/fonts/Spectral-Regular.ttf');
}

@font-face {
    font-family: "Spectral-Bold";
    src: url('media/fonts/Spectral-Bold.ttf');
}
/* Globals */
body {
    background-color: #FDF8F3;
    color: #2b2b2b;
    margin: 0px;
    overflow-x: clip;
}

h1 {
    font-family: "Parisienne";
    font-size: 7em;
    font-weight: 100;
}

h2 {
    font-family: "Parisienne";
    font-size: 3em;
    font-weight: 100;
}

h3 {
    font-family: "Cinzel";
    font-size: 2em;
    font-weight: 100;
}

h4 {
    font-family: "Spectral";
    font-size: 2em;
    margin-bottom: 0px;
}

p {
    font-family: "Spectral-Italic";
    font-size: 1.5em;
    margin-top: 0px;
}

p.tinytext {
    font-family: "Spectral-Italic";
    font-size: 1em;
}

button {
    background-color: rgba(0,0,0,0);
    border: 1px solid #2b2b2b;
    cursor: pointer;
    font-family: 'Cinzel';
    margin-left: 1em;
    padding: 0.7em 1em;
}
button:hover {
    background-color: #6D6875;
    color: #fff;
    -webkit-transition: background-color .2s linear;
    -ms-transition: background-color .2s linear;
    transition: background-color .2s linear;
    -webkit-transition: color .2s linear;
    -ms-transition: color .2s linear;
    transition: color .2s linear;
}

@media (max-width: 1000px) {
    h2 {
        font-size: 7em;
    }
    
    h3 {
        font-size: 4em;
    }
    h4 {
        font-size: 2em;
    }
    p, button {
        font-size: 2em;
    }
    
    button {
        margin-left: 0em;
    }

    p.tinytext {
        font-size: 2em;
    }
}

.row {
    align-items: center;
    display: inline-grid;
    justify-content: center;
    width: 100%;
}

.hidden {
    display: none;
}

.swirl {
    fill: #D4AF37;
}

.footer {
    position: relative;
    bottom: 0px;
    width: 100vw;
    height: 2.5em;
    text-align: center;
    font-size: 1em;
    padding-top: 1em;
    color: #FDF8F3;
    background-color: #2b2b2b;
}

.imgtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
@media (max-width: 1000px) {
    .imgtext {
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
.imgtext h1 {
    opacity: 0;

    animation-name: fadeInUp;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.imgtext h3 {
    opacity: 0;
    
    animation-name: fadeInUp;
    animation-delay: 2s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.menu-full {
    float: right;
    margin-top: 0.5em;
    margin-right: 2em;
    margin-left: -25em;
}
.menu-item, .btn-solid {
    cursor: pointer;
    font-family: 'Cinzel';
}
.menu-full .menu-item {
    float: left;
    padding: 0.7em 1em;
    animation-name: fadein;
    animation-duration: 0.3s;
}
.menu-item.solid, .btn-solid {
    background-color: #fff;
    border: 1px solid #2b2b2b;
    margin-left: 1em;
}
.menu-full .menu-item.solid:hover, .btn-solid:hover {
    background-color: #6D6875;
    color: #fff;
    -webkit-transition: background-color .2s linear;
    -ms-transition: background-color .2s linear;
    transition: background-color .2s linear;
    -webkit-transition: color .2s linear;
    -ms-transition: color .2s linear;
    transition: color .2s linear;
}
.menu-full:hover .menu-item:not(.solid){
    animation-name: fadeout;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
.menu-full .menu-item:not(.solid):hover {
    animation-name: fadein;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}

.menu-collapsed {
    display: none;
}
.menu-collapsed.active {
    display: block;
    position: absolute;
    right: 0;
    top: 4em;
    background-color: #FFCDB2;
    padding: 4em 4em 2em 4em;
}
.menu-collapsed .menu-item {
    font-size: 3em;
    margin-bottom: 1em;
}
.menu-collapsed .menu-item.solid {
    font-size: 4em;
    padding: 2px;
    margin-left: 0em;
}

.btn-solid {
    font-size: 2em;
    margin-left: 35%;
    margin-right: 35%;
}

.highlight {
    font-family: "Spectral-Bold";
}
.-apricot {
    color: #FFCDB2;
}
.-pastel_pink {
    color: #E5989B;
    font-weight: 600;
}
.-english_lavender {
    color: #B5838D;
    font-weight: 600;
}
.-old_lavender {
    color: #6D6875 ;
    font-weight: 600;
}

.color-container {
    display: flex;
    align-content: center;
    justify-content: center;
}
.color-box {
    width: 7em;
    height: 10em;
    position: relative;
}

.color-box span {
    font-family: 'Spectral-Bold';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

@media (max-width: 1000px) {
    .color-box {
        width: 13em;
        height: 17em;
    }

    .color-box span {
        font-size: 2em;
    }
}

.section {
    padding-top: 4em;
    padding-bottom: 4em;
}

#root {
    background-color: #fdf8f3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%232b2b2b' fill-opacity='0.39'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    /* background: radial-gradient(circle, transparent 20%, #FDF8F3 20%,#FDF8F3 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #FDF8F3 20%, #FDF8F3 80%, transparent 80%, transparent) 50px 50px, linear-gradient(#2b2b2b 8px, transparent 8px) 0 -4px, linear-gradient(90deg, #2b2b2b 8px, transparent 8px) -4px 0; */
    background-color: rgba(0, 0, 0, 0);
    background-size: auto, auto, auto, auto;    
    background-color: #FDF8F3;
    background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
}

.wrapper {
    background: rgb(253,248,243);
    background: linear-gradient(180deg, rgba(253,248,243,1) 60%, rgba(253,248,243,0) 100%);
}

@media (min-width: 1000px) {
    .wrapper {
        background: linear-gradient(180deg, rgba(253,248,243,1) 70%, rgba(253,248,243,0) 100%);
    }
}

/* Prompt state */ 

.prompt {
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.prompt.success {
    animation: circleTransition 2.5s ease-in-out;
}

.prompt .input-field {
    margin-top: 10%;
}

@media (min-width: 1000px) {
    .prompt .input-field {
        margin-top: 1%;
    }
}

.prompt input {
    font-family: "Spectral-Italic";
    font-size: 3em;
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 3px solid #2b2b2b;
    color: #2b2b2b;
    text-align: center;
    width: 8em;
}
.prompt input:focus {
    outline: none;
}
.prompt input.shake {
    animation: shake 0.3s;
}

.prompt button {
    margin-top: 5px;
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    color: #2b2b2b;
    font-family: "Spectral";
    font-size: 3em;
}


@media (max-width: 1000px) {
    .prompt input {
        font-size: 6em;
    }
    .prompt button {
        font-size: 5em;
    }
}

/* Home state */

.home-transition {
    height: 100vh;
    width: 100vw;
    animation: homeTransition ease-in 1s forwards;
    background-color: #2b2b2b;
    position: fixed;
    pointer-events: none;
    z-index: 101;
}

.header {
    height: 4em;
    padding-top: 0.2em;
    width: 100vw;
    background-color: #FDF8F3;
    text-align: center;
    position: fixed;
    top: 0px;
    z-index: 100;
}
.header-title {
    font-family: "Parisienne";
    font-size: 3em;
}

@media (max-width: 1000px) {
    .header-title {
        margin-right: 6em;
    }
}
.save-the-date-wrapper {
    align-items: center;
    margin: 4em;
    justify-content: center;
    text-align: center;
    background-color: #FDF8F3;
    min-width: 800px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

@media (min-width: 1000px) {
    .save-the-date-wrapper {
        margin: 8em 29%;
    }
}

.save-the-date-outer {
    border: 3px solid #D4AF37;
}

.save-the-date-inner {
    border: 3px solid #D4AF37;
    margin: 1em;
}

/* Animations */

@keyframes shake {
    0%{
      transform: translateX(0)
    }
    20%{
      transform: translateX(25px);
    }
    40% {
      transform: translateX(-25px);
    }
    60%{
        transform: translateX(25px);
    }
    80% {
        transform: translateX(-25px);
    }
    100%{
      transform: translateX(0px);
    }
}

@keyframes homeTransition {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}